.container {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  --scaler: 30px;
  position: relative;
  pointer-events: none;
  overflow: visible;
}
.scroller {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  top: 0;
  left: calc(100% - var(--scaler) * 30); /*65*/
}
.contentWraper {
  display: flex;
  margin: calc(var(--scaler) * 2);
  overflow: visible;
}
.header {
  font-size: calc(var(--scaler) * 4);
  font-family: var(--primary-font);
  height: calc(var(--scaler) * 20);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: calc(var(--scaler) * 16);
  overflow: visible;
}
.header > span {
  color: var(--secondary-color);
  line-height: calc(var(--scaler) * 2.5);
  font-weight: 500;
  font-size: calc(var(--scaler) * 3);
  overflow: visible;
}
.header h2 {
  line-height: calc(var(--scaler) * 3.7);
  color: var(--primary-color);
  overflow: visible;
}
.header h2 span {
  color: var(--deco-color);
}

/*visionIcon*/

.visionItem {
  margin-right: calc(var(--scaler) * 9);
  position: relative;
  overflow: visible;
}
.imageCover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(var(--scaler) * 20);
  width: calc(var(--scaler) * 20);
  visibility: hidden;
  overflow: hidden;
}
.imageCover img {
  height: 100%;
}
.visionItem h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: calc(var(--scaler) * 1.7);
}
.visionItem p {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: calc(var(--scaler) * 1);
  max-width: calc(var(--scaler) * 17);
}
.visionItem span {
  font-family: var(--primary-font);
  color: var(--deco-color);
  font-size: calc(var(--scaler) * 1);
  text-decoration: underline;
  opacity: 0.6;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  pointer-events: all;
}
.visionItem span:hover {
  opacity: 1;
}
.visionItem .line {
  position: absolute;
  right: 0%;
  bottom: -40%;
  width: 1px;
  height: calc(var(--scaler) * 11);
  background-color: var(--secondary-color);
  opacity: 0.7;
}
.scroller .footer {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
.scroller .footer h5 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: calc(var(--scaler) * 1.1);
  margin: calc(var(--scaler) * 2) calc(var(--scaler) * 2);
}
.visionPadding {
  position: relative;
  z-index: -1;
  pointer-events: none;
  background-color: transparent;
}

.titles {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: calc(var(--scaler) * 2);
  line-height: calc(var(--scaler) * 2);
  width: calc(var(--scaler) * 25);
  height: calc(var(--scaler) * 20);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.titles h2 {
  margin-top: calc(var(--scaler) * 2.3);
  overflow: visible;
}
.titles h2 span {
  color: var(--deco-color);
}

@media (max-width: 2000px) {
  .container {
    --scaler: 26px;
  }
}
@media (max-width: 1700px) {
  .container {
    --scaler: 23px;
  }
}
@media (max-width: 1000px) {
  .container {
    --scaler: 19px;
  }
}
@media (max-width: 600px) {
  .container {
    --scaler: 18px;
  }
}
@media (max-width: 500px) {
  .imageCover {
    visibility: visible;
  }
  .container {
    --scaler: 16px;
  }
  .scroller {
    left: calc(100% - var(--scaler) * 20); /*65*/
  }
}
