.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scroller {
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 20%;
}
.scroller div {
  width: 1380rem;
  display: flex;
}
.scroller h5 {
  font-family: var(--primary-font);
  font-size: 13rem;
  -webkit-text-stroke: 2px var(--primary-color);
  -webkit-text-fill-color: var(--background-color);
  opacity: 0.2;
}
